<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Server Node is ready !</h1>
    <p>Add a path query in URL to open specific folder, example :  </p>
    <p><i>http://localhost:3000/?path=/Users/xxxxxxx/Documents/</i></p>
    <br>
    <br>

    <h2>Node Path have to be :</h2>
    <p>Mac => /usr/local/bin/node </p>
    <p>Windows => C:\Program Files\nodejs\node.exe</p>
    
    <br>
    <br>


    <h2>Path with spaces :</h2>
    <p>If url path have spaces , replace it with double Underscore __ , example :</p>
    <p>/Users/xxxxxxx/Documents/My Folder Number 6/images</p>
    <p>by</p>
    <p>/Users/xxxxxxx/Documents/My__Folder__Number__6/images</p>
    
  </body>
</html>
